#go
{
	background-color: transparent;
text-align: center;
color: white;
font-size: 20px;
background-color: black;
}
#mo
{
	font-family: Times New Roman;
	text-align: center;
	text-align: left;
	font-size: 40px;
	color: pink;
   margin-top: -90px;
   padding-right: 400px;
   text-align: right;
}
#ww
{
	width: 900px;
	height: 600px;
	align-items: center;
}
#hah
{
	width: 100px;
	height: 90px;
	padding-right: 290px;
	padding-top: -100px;
	
	margin-top: -140px;

}
#mops
{
	font-family: Times New Roman;
	text-align: center;
	text-align: left;
	font-size: 40px;
	color: white;
   margin-top: -20px;
	

}
#haha
{
	width: 90px;
	height: 80px;
	padding-top: 20px;

}
.b
{
color: red;
}
#tel
{
	width: 40px;
	height: 40px;

}
#ro
{
	 
  left: 0;
  bottom: 0;
  width: 50%;
  
  padding-bottom: -200px;
  margin-top: -100px;

border:dashed;
border-color: skyblue;
border-width: 5px;
}
#pis
{

	padding-top: -90px;
	margin-top: -10px;
	text-align: right;
	padding-right: 50px;
	font-family: Times New Roman;
	color: blue;
	font-size: 30px;
}
#fre
{
	width: 968px;
	height: 366px;
	margin-top: -100px;
	padding-right: 180px;
}
body
{
	padding-bottom: 1500px;
}
.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  border:dotted;
  background-color: transparent;
  color: white;
  text-align: center;
}