#ba{
padding-top: 900px;
padding-bottom: 50px;

}
#butto
{
width: 310px;
	height: 60px;	
}
#ii
{
	padding-left: 400px;
}
#button
{
	width: 250px;
	height: 60px;
}
#butt
{
	padding-top: -20px;
	margin-top: -760px;
	padding-left: 10px;
}
#idi
{
	
	text-align: right;
	padding-right: 40px;
	padding-top: 3300px;

}
#sam
{
	
}